{% extends "base_auth.html" %}
{% block title %}Set Password - EduDrop{% endblock %}

{% block form_title %}Set Your Password{% endblock %}
{% block form_subtitle %}Use your registered email to set a password{% endblock %}

{% block form_content %}
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Registered Email</label>
    <input type="email" name="email" class="form-control" placeholder="Enter registered email" required>
  </div>

  <div class="mb-3">
    <label class="form-label">New Password</label>
    <input type="password" name="password" class="form-control" placeholder="Set your password" required>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Set Password</button>
</form>
{% endblock %}
