<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduDrop - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="login-card">
  <h2>EduDrop Login</h2>
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p class="error">{{ msg }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="/login" method="POST">
    <select name="role" class="form-select" id="role" onchange="toggleFields()" required>
      <option value="" disabled selected>Select your role</option>
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
      <option value="volunteer">NGO Volunteer</option>
      <option value="coordinator">School Coordinator</option>
    </select>
    <div id="authFields">
      <input type="email" name="email" class="form-control" placeholder="Email">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div id="studentFields" style="display:none;">
      <input type="text" name="roll" class="form-control" placeholder="Roll Number">
      <input type="text" name="name" class="form-control" placeholder="Student Name">
    </div>
    <button type="submit" class="btn-login">Login</button>
    <div class="links">
      <a href="/register">Register</a> |
      <a href="#">Forgot Password?</a>
    </div>
  </form>
</div>
<script>
function toggleFields() {
  const role = document.getElementById("role").value;
  const auth = document.getElementById("authFields");
  const student = document.getElementById("studentFields");
   if (role === "student") {
    auth.style.display = "none";
    student.style.display = "block";
  } else {
    auth.style.display = "block";
    student.style.display = "none";
  }
}
</script>
</body>
</html>
