<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduDrop - Register</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="login-card">
    <h2>EduDrop Registration</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('register') }}" method="POST">
      
      <select name="role" class="form-select" required>
        <option value="" disabled selected>Select your role</option>
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="volunteer">NGO Volunteer</option>
        <option value="coordinator">School Coordinator</option>
      </select>

      <input type="email" name="email" class="form-control" placeholder="Email" required>
      <input type="password" name="password" class="form-control" placeholder="Password" required>

      <button type="submit" class="btn-login">Register</button>

      <div class="links">
        <a href="{{ url_for('login') }}">Already have an account? Login</a>
      </div>
    </form>
  </div>
</body>
</html>